/*header*/
.header_container {width:100%; box-sizing:border-box; position:relative; z-index:1000; border-top:1px solid #E3E3E3; background:#fff; border-bottom:1px solid #E3E3E3;}
.header {height:80px; display:flex; align-items:center; padding:0 16px; max-width:1312px; margin:0 auto; width:100%; box-sizing:border-box; position:relative; z-index:1000;}
.nav {width:100%; text-align:center; padding:0 156px 0 163px; box-sizing:border-box;}
.my {display:flex; justify-content:right;}

.nav > ul {display:flex;}
.nav > ul > li {width:100%; list-style:none;}
.nav > ul > li:nth-child(1) {left:20px;}
.nav > ul > li:nth-child(2) {left:220px;}
.nav > ul > li:nth-child(3) {left:420px;}
.nav > ul > li:nth-child(4) {left:620px;}
.nav > ul > li:nth-child(5) {left:820px;}
.nav > ul > li:nth-child(6) {left:1020px;}
.nav > ul > li a {text-decoration-line:none; color:black;}
/*header*/

/*content*/
.content {width:1200px; min-width:1200px; margin:50px auto 0; padding-bottom:80px;}
.content h2 {font-size:45px; font-family:"Noto Sans KR"; font-weight: 00; color:#3d3a3a; text-align:center; margin-bottom:30px;}
.content .content_tab {display:flex; list-style:none; margin:0; padding:0;}
.content .content_tab li {border-bottom:1px solid #545454;}
.content .content_tab li a {width:220px; display:block; padding:10px; font-size:16px; color:black; text-align:center;}
.content .content_tab li.active {border-bottom:5px solid #316788;}

.content .content_tab2 {display:flex; list-style:none; margin:0; padding:0;}
.content .content_tab2 li {border-bottom:1px solid #545454;}
.content .content_tab2 li a {width:280px; display:block; padding:10px; font-size:16px; color:black; text-align:center;}
.content .content_tab2 li.active {border-bottom:5px solid #316788;}

.content .content_tab3 {display:flex; list-style:none; margin:0; padding:0;}
.content .content_tab3 li {border-bottom:1px solid #545454;}
.content .content_tab3 li a {width:380px; display:block; padding:10px; font-size:16px; color:black; text-align:center;}
.content .content_tab3 li.active {border-bottom:5px solid #316788;}

.content .content_tab4 {display:flex; list-style:none; margin:0; padding:0;}
.content .content_tab4 li {border-bottom:1px solid #545454;}
.content .content_tab4 li a {width:580px; display:block; padding:10px; font-size:16px; color:black; text-align:center;}
.content .content_tab4 li.active {border-bottom:5px solid #316788;}

.content .tab_content {display:none; padding-top:30px;}
.content .tab_content.active {display: block;}
.content .tab_content p {font-size:16px; line-height:1.5; color: #3d3a3a;}
.content .tab_content a {color:black;}

.con2_sub {display:flex; justify-content:space-between;}
.con4_sub {display:flex; justify-content:space-between;}
.img_box {text-align:center;}
.img_box p {text-align:center;}
.con4_box {height:125px; background-color:#FBFBFB; border:1px solid #D8D8D8; padding:15px 10px 10px 10px; text-align:center;}
.con4_box2 {height:125px; background-color:#FBFBFB; border:1px solid #D8D8D8; padding:15px 10px 10px 10px; text-align:center; margin-top:10px;}
.con4_box3 {height:160px; background-color:#FBFBFB; border:1px solid #D8D8D8; padding:15px 10px 10px 10px; text-align:center; margin-top:10px;}
.con4_box p {margin:10px 0 0 0;}
.con4_box2 p {margin:10px 0 0 0;}
.con4_box3 p {margin:10px 0 0 0;}

.content .content_box {padding-top:30px;}
.content .content_box p {font-size:16px; line-height:1.8; color: #3d3a3a;}
.content .content_box a {color:black;}
.map_box {text-align:center;}
.map_box p {text-align: left; margin: 30px 0 0 140px; color: gray !important;}
.list {width:49%;}
.list li {height:34px; display:flex;}
.list li p {margin:0 0 0 10px;}
.list li p a {text-decoration:none;}
.circle {width:24px; height:24px; border-radius:50%; font-size:16px; line-height:1.8; color:white;}
.blue {background-color:#4371C4;}
.red {background-color:#FF0000;}
.green {background-color:#92D050;}
.navy {background-color:#002060;}
.purple {background-color:#7030A0;}

.content table {width:1200px; margin-top:40px; text-align:center;}
.content table .tr_img td {padding:10px;}
.content table .tr_nm td {padding:0 10px 30px 10px;}
.content table img {width:260px;}

.content .con1 table {width:900px; text-align:center; margin:0 auto; margin-top:40px;}
.content .con1 table a {padding:10px;}
/*content*/
