/*header*/
.header_container {width:100%; box-sizing:border-box; position:relative; z-index:1000; border-top:1px solid #E3E3E3; background:#fff; border-bottom:1px solid #E3E3E3;}
.header {height:80px; display:flex; align-items:center; padding:0 16px; max-width:1312px; margin:0 auto; width:100%; box-sizing:border-box; position:relative; z-index:1000;}
.nav {width:100%; text-align:center; padding:0 156px 0 163px; box-sizing:border-box;}
.my {display:flex; justify-content:right;}

.nav > ul {display:flex;}
.nav > ul > li {width:100%; list-style:none;}
.nav > ul > li:nth-child(1) {left:20px;}
.nav > ul > li:nth-child(2) {left:220px;}
.nav > ul > li:nth-child(3) {left:420px;}
.nav > ul > li:nth-child(4) {left:620px;}
.nav > ul > li:nth-child(5) {left:820px;}
.nav > ul > li:nth-child(6) {left:1020px;}
/*header*/

/*content*/
.content {width:1200px; min-width:1200px; margin:50px auto 0; padding-bottom:80px;}
.content h2 {font-size:45px; font-family:"Noto Sans KR"; font-weight: 00; color:#3d3a3a; text-align:center; margin-bottom:30px;}
.content ul {display:flex; list-style:none; margin:0; padding:0;}
.content ul li {border-bottom:1px solid #545454;}
.content ul li a {width:220px; display:block; padding:10px; font-size:16px; color:black; text-align:center;}
.content ul li.active {border-bottom:5px solid #316788;}

.content .tab_content {display:none; padding-top:30px;}
.content .tab_content.active {display: block;}
.content .tab_content p {font-size:16px; line-height:1.5; color: #3d3a3a;}

.con1_sub {display:flex; justify-content:space-between;}
.con2_sub {display:flex; justify-content:space-between;}
.con3_sub {display:flex; justify-content:space-between;}
.con4_sub {display:flex; justify-content:space-between;}
.img_box {text-align:center;}
.img_box p {text-align:center;}
.con4_box {height:125px; background-color:#FBFBFB; border:1px solid #D8D8D8; padding:15px 10px 10px 10px; text-align:center;}
.con4_box2 {height:125px; background-color:#FBFBFB; border:1px solid #D8D8D8; padding:15px 10px 10px 10px; text-align:center; margin-top:10px;}
.con4_box p {margin:10px 0 0 0;}
.con4_box2 p {margin:10px 0 0 0;}
/*content*/
