/*font*/
@font-face {
    font-family: Galaxie;
    src: url(../font/GalaxieCopernicus-Book.woff);
}

@font-face {
    font-family: HugeGothic-Bold;
    src: url(../font/HugeGothic-Bold.woff);
}

.color_white {
    color:white;
}

/*타이포그래피*/
h1, h2, h3, h4, h5, h6 {font-family:HugeGothic-Bold; font-weight:400; -webkit-font-smoothing:antialiased;}
h4 {font-size:44px; line-height:44px;}
h5 {font-size:24px; line-height:30px;}
h6 {font-size:22px; line-height:26px;}

p {font-family:Galaxie; -webkit-font-smoothing:antialiased;}
h1 {font-size:170px; line-height:170px;}
h2 {font-size:80px; line-height:84px; letter-spacing:-2px;}
h3 {font-size:56px; line-height:70px; letter-spacing:-4px;}
p {font-size:18px; line-height:34px; letter-spacing:-0.27504px;}

.h3_serif {font-family:Galaxie; font-size:56px; line-height:70px; letter-spacing:-4px;}
.h4_sans {font-size:44px; line-height:44px;}
.h5_sans {font-size:24px; line-height:30px;}
.h6_sans {font-size:22px; line-height:26px;}

.p_small_1 {font-size:16px; letter-spacing:-1px;}
.p_small_2 {font-size:12px; line-height:22.6667px; letter-spacing:-0.27504px;}
.p_small_sans {font-size:14px; line-height:20px;}

/*
.h2_home {font-family:HugeGothic-Bold; font-size:80px; line-height:84px; font-weight:400; letter-spacing:-2px; -webkit-font-smoothing:antialiased;}
.h5_home {font-family:HugeGothic-Bold; font-size:22px; line-height:16px; font-weight:400; letter-spacing:-2px; -webkit-font-smoothing:antialiased;}
.p_home .p_work {font-family:Galaxie-Book; font-size:18px; line-height:34px; font-weight:400; color:white; letter-spacing:-0.27504px; -webkit-font-smoothing:antialiased;}

.h2_work_icon {font-family:HugeGothic-Bold; font-size:44px; line-height:44px; font-weight:400; letter-spacing:-2px; -webkit-font-smoothing:antialiased;}
.div_work {font-family:Galaxie-Book; font-size:56px; line-height:70px; font-weight:400; color:white; letter-spacing:-4px; -webkit-font-smoothing:antialiased;}
.div_work_sectiontitle {font-family:HugeGothic-Bold; font-size:22px; line-height:16px; font-weight:400; letter-spacing:-2px; -webkit-font-smoothing:antialiased;}
.h3_work_magenta {font-family:HugeGothic-Bold; font-size:80px; line-height:84px; font-weight:400; letter-spacing:-2px; -webkit-font-smoothing:antialiased;}

.h1_about {font-family:HugeGothic-Bold; font-size:170px; line-height:169px; font-weight:400; letter-spacing:-0.27504px; -webkit-font-smoothing:antialiased;}
.h2_about {font-family:Galaxie-Book; font-size:56px; line-height:70px; font-weight:400; color:white; letter-spacing:-4px; -webkit-font-smoothing:antialiased;}
.h2_about_medium {font-family:HugeGothic-Bold; font-size:44px; line-height:46px; font-weight:400; letter-spacing:normal; -webkit-font-smoothing:antialiased;}
.h3_about {font-family:HugeGothic-Bold; font-size:24px; line-height:30px; font-weight:400; letter-spacing:normal; -webkit-font-smoothing:antialiased;}

.h6_footermenu {font-family:HugeGothic-Bold; font-size:14px; line-height:20px; font-weight:400; letter-spacing:-0.27504px; -webkit-font-smoothing:antialiased;}

.p_caption {font-family:Galaxie-Book; font-size:18px; line-height:22.6667px; font-weight:400; color:white; letter-spacing:-0.27504px; -webkit-font-smoothing:antialiased;}
*/

body {
    word-break:keep-all;
}

/*h버튼*/
#logo {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HugeGothic-Bold, Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #ea178c;
    background: linear-gradient(315deg, #ea178c, #ffffff, #ea178c, #ffffff, #ffffff);
    background-size: 800% 800%;
    animation: logo_animation_bg 0.8s;
    animation-iteration-count:1;
    position: fixed;
    top: 50px;
    left: calc(50% - 37px);
    z-index: 200;
    padding-top:4px;
    box-sizing:border-box;
}
.button_h_text {
    width:48px;
    height:48px;
    color:#ea178c;
    font-family:HugeGothic-Bold;
    font-size:36px;
    font-weight:600;
    text-align:center;
    line-height:54px;
}
#logo_open {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HugeGothic-Bold, Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #ea178c;
    position: fixed;
    top: 50px;
    left: calc(50% - 37px);
    z-index: 200;
    padding-top: 4px;
    box-sizing: border-box;
    display:none;
}
#logo_open span {
    width:74px;
    height:74px;
    color:#ea178c;
    font-family:HugeGothic-Bold;
    font-size:26px;
    font-weight:600;
    text-align:center;
    line-height:74px;
}

.menu_wrap {
    width:87.34177%;
    display: flex;
    justify-content:center;
    margin:0 auto;
}
.menu_wrap li {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin:0 10px;
}
    .menu_wrap li a {
        display:block;
        font-family: HugeGothic-Bold;
        font-size: 36px;
        color: black;
        line-height: 36px;
    }
    .menu_wrap li a:hover {
        color: #ea178c;
        cursor: pointer;
    }
    .menu_wrap li p {
        display:block;
        font-family: Galaxie;
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: -1px;
    }
    .menu_wrap li div {
        border-bottom: 1px solid black;
        width:48px;
        margin:0 auto;
        margin-top:35px;
        display:block;
    }
.gnb_aside {
    width: 320px;
    height: 22px;
    position: absolute;
    top: 350px;
    left: calc(50% - 160px);
    display: flex;
    justify-content: center;
}
.gnb_aside p {
    font-family: Galaxie;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: -1px;
}
.gnb_aside a {
    font-family: HugeGothic-Bold;
    font-size: 14px;
    line-height: 22px;
    margin-left: 6px;
    padding-top: 2px;
}
.gnb_aside a:hover {
    color: #ea178c;
    cursor: pointer;
}
.gnb_aside a span {
    color: #ea178c;
}

/*header*/
@keyframes header_animation_on {
    from {height:0px;}
    to {height:440px;}
}
@keyframes header_animation_off {
    from {height:440px;}
    to {height:0px;}
}
@keyframes header_animation_m_on {
    from {height:0px;}
    to {height:100vh;}
}
@keyframes header_animation_m_off {
    from {height:100vh;}
    to {height:0px;}
}
#home_header {
    width: 100%;
    height: 0px;
    background-color: #F4F4F4;
    display:block;
    overflow:hidden;
    position:fixed;
    z-index:100;
    /*transition:height 0.2s;*/
}
@keyframes logo_animation_bg {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
.gnb {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

/*content*/
main {
    width:100%;
    transition:padding 0.6s;
}

/*footer*/
.bg_color_black {
    background-color: black;
}
.home_footer {
    width: 100%;
    padding: 65px 0 80px 0;
    box-sizing: border-box;
}
/*
.home_footer_container {
    width: 100%;
    padding: 0 calc(12.5vw + 15px);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 980px;
}*/
.home_footer_container {
    width: 74.68354%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 980px;
    margin: 0 auto;
    flex-direction: row;
}
.footer_content_left {
    display: flex;
    align-items: center;
}
    .footer_content_left>div {
        color:white;
        font-family: HugeGothic-Bold;
        font-size: 36px;
        line-height: 36px;
        border-right: 1px solid #888888;
        padding-right: 32px;
        margin-right: 32px;
        letter-spacing: 2px;
    }
    .footer_content_left>p {
        font-family: HugeGothic-Bold;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 1px;
        color: white;
    }
.footer_content_right {
    display: flex;
    flex-direction: column;
}
    .footer_content_right>div {
        font-family: HugeGothic-Bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        color:rgb(136, 136, 136);
        margin-bottom: 10px;
    }
    .footer_content_right a {
        margin-right: 16px;
    }
    .footer_content_right a:last-child {
        margin-right: 0;
    }
.footer_aside {
    font-family: Galaxie;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color:rgb(136, 136, 136);
    padding-top:10px;
}

@media screen and (max-width:999px) {
    /*header*/
    .menu_wrap {
        width:83.05085%;
        margin:0;
        padding:0;
    }
    .menu_wrap li a {
        font-size: 32px;
        line-height: 32px;
    }

    /*footer*/
    .home_footer {
        padding: 120px 0 100px 0;
    }
        .home_footer_container {
            width: 83.05085%;
            padding: 0;
            justify-content:flex-start;
            min-width:0px;
            margin:0 auto;
            flex-direction:column;
        }
    .footer_content_left {
        width:100%;
        margin-bottom:20px;
    }
    .footer_aside {
        text-align: left;
    }
}

@media screen and (max-width:767px) {
    /*header*/
    #logo {
        width: 60px;
        height: 60px;
        top: 25px;
        left: calc(50% - 30px);
    }
    .button_h_text {
        width:48px;
        height:48px;
        font-size: 28px;
        line-height:50px;
        text-align:center;
    }

    #logo_open {
        width: 71px;
        height: 71px;
        top: 25px;
        left: calc(50% - 35.5px);
    }
    #logo_open span {
        width:71px;
        height:71px;
        font-size: 28px;
        line-height:64px;
        text-align:center;
    }

    @keyframes header_animation_on {
        from {height:0;}
        to {height:100vh;}
    }
    @keyframes header_animation_off {
        from {height:100vh;}
        to {height:0;}
    }
    .gnb {
        width: 100%;
        height:80vh;
        align-items:flex-start;
    }
    .menu_wrap {
        width:100%;
        height:auto;
        justify-content:center;
        flex-direction:column;
        padding:70px 5% 0 5%;
    }
    .menu_wrap li {
        width:100%;
        height:80px;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
        margin:0 auto;
    }
        .menu_wrap li a {
            font-size: 20px;
            line-height: 32px;
        }
        .menu_wrap li p {
            font-size: 17px;
            letter-spacing:-0.65008px;
            line-height:32px;
            text-align: right;
            white-space:nowrap;
        }
        .menu_wrap li hr {
            border-top: 1px solid black;
            margin:0 10px 0 13px;
            width:100%;
            display:block;
        }
        .menu_wrap li div {
            display:none;
        }
    .gnb_aside {
        width:auto;
        height:auto;
        position: absolute;
        top:auto;
        left:calc(50% - 181.5px);
        bottom:5%;
        display: flex;
        justify-content: center;
    }
        .gnb_aside p {
            font-size: 17px;
            letter-spacing:-0.65008px;
            line-height:25.5px;
        }
        .gnb_aside a {
            font-family: HugeGothic-Bold;
            font-size: 18px;
            line-height: 27px;
            margin:2px 0 0 0;
            padding:0 0 0 4.8px;
        }

    /*footer*/
    .home_footer {
        padding: 50px 0;
    }
    .home_footer_container {
        width: 74.35897%;
        min-width: auto;
    }
    .footer_content_left {
        width:100%;
    }
    .footer_aside {
        text-align: left;
        line-height:25.6667px;
    }
    .footer_aside span {
        display:block;
    }
}